// app global css in SCSS form
input[type=number] {
	-moz-appearance: textfield;
}
input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

.q-table__top {
	padding-top: 0px;
	padding-bottom: 0px;
}